# Creado por https://www.toptal.com/developers/gitignore/api/osx,windows
# Editar en https://www.toptal.com/developers/gitignore?templates=osx,windows

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# El icono debe terminar con dos \ r
Icono

# Miniaturas
._ *

# Archivos que pueden aparecer en la raíz de un volumen
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
Artículos temporales
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directorios potencialmente creados en el recurso compartido AFP remoto
.AppleDB
.AppleDesktop
Carpeta de basura de red
Artículos temporales
.apdisk

### Windows ###
# Windows archivos de caché en miniatura
Thumbs.db
Thumbs.db: encriptable
ehthumbs.db
ehthumbs_vista.db

# Volcar archivo
* .stackdump

# Archivo de configuración de carpeta
[Dd] esktop.ini

# Papelera de reciclaje utilizada en archivos compartidos
$ RECYCLE.BIN /

# Archivos de Windows Installer
*.taxi
* .msi
* .msix
* .msm
* .msp

# Atajos de Windows
* .lnk

# Fin de https://www.toptal.com/developers/gitignore/api/osx,windows